$color-white: #FFFFFF;
$color-black-pearl: #081F32;
$color-denim: #1B75BB;
$color-black: #000000;
$color-dodger-blue: #4DAEFE;

$font-gelasio-500: "Gelasio 500";
$font-gelasio-600: "Gelasio 600";
$font-roboto-regular: "Roboto regular";
$font-roboto-500: "Roboto 500";