.benefits {
	padding-bottom: 140px;

	&__heading {
		text-align: center;

		&-subtitle {
			font-family: $font-roboto-regular;
			font-size: 18px;
			line-height: 160%;
			color: $color-black-pearl;
			opacity: 0.6;
			padding: 25px 0;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (max-width: 1200px) {
			justify-content: center;
		}
	}

	&__item {
		max-width: 260px;
		border: 1px solid $color-black-pearl;
		padding: 21px 17px 17px;
		text-align: center;
		margin: 10px;

		&-title {
			font-family: $font-gelasio-500;
			font-size: 24px;
			line-height: 150%;
			text-align: center;
			color: $color-black-pearl;
			padding: 40px 0 15px;
		}

		&-subtitle {
			font-family: $font-roboto-regular;
			font-size: 18px;
			line-height: 160%;
			text-align: center;
			color: $color-black-pearl;
			opacity: 0.6;
		}
	}
}
